.banner {
    background-image: url(images/donation4.jpg);
    background-size: cover;
    height: 800px;
    text-align: center;
}

.banner-font {
    padding-top: 170px;
}

h1 {
    font-size: 70px;
    color: white;
}

h2 {
    font-size: 47px;
}

h3 {
    margin-left: 35px;
    font-size: 38px;
    background-color: whitesmoke;
    padding: 45px 28px 45px 28px;
    border-radius: 5px;
}

h4 {
    font-size: 30px;
}

#amount-container {
    margin-left: 242px;
}

p {
    font-family: 'Comfortaa', cursive;
    color: white;
}

.paragraph {
    color: rgb(168, 151, 128);
}

.button {
    text-decoration: none;
    background-color: rgb(225, 63, 63);
    padding: 20px 40px;
    font-size: 20px;
    color: white;
    border-radius: 7px;
}

.button-container {
    padding-top: 60px;
}

#horizontal-line {
    width: 40%;
    background-color: gray;
}

.alin-container {
    text-align: center;
    margin-top: 140px;
}

.flexing {
    display: flex;
}

#selact-many {
    color: rgb(226, 63, 63);
    background-color: rgb(250, 207, 214);
    padding: 45px 28px 45px 28px;
    border: 3px solid rgb(215, 54, 54);
    border-radius: 5px;
}


small {
    font-size: 20px;
}

#medicine-img {
    height: 60px;
    width: 60px;
}

.donate-plan {
    display: flex;
    width: 80%;
    margin-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.food {
    width: 100%;
    background-color: rgb(102, 244, 244);
    text-align: left;
    padding: 50px 30px 10px 30px;
    border-radius: 10px;
}

.medicine {
    width: 100%;
    background-color: rgb(249, 203, 211);
    text-align: left;
    padding: 50px 30px 10px 30px;
    margin-left: 2%;
    border-radius: 10px;
}

.shelter {
    width: 100%;
    background-color: rgb(251, 234, 214);
    text-align: left;
    padding: 50px 30px 10px 30px;
    margin-left: 2%;
    border-radius: 10px;
}

.want-help {
    display: flex;
    padding-left: 10%;
    padding-right: 15%;
    margin-top: 150px;
    width: 75%;
}

.help-want {
    width: 40%;
    padding-left: 1%;
}

.want-img {
    width: 59%;
}

.img-want {
    width: 100%;
    border-radius: 8px;
}

.backgrund-status {
    background-color: rgb(71, 243, 243);
    padding-bottom: 50px;
}

#heading-status {
    margin-left: 150px;
    padding-top: 40px;
}

.child-container {
    display: flex;
    padding-left: 10%;
    padding-right: 15%;
    width: 75%;
    padding-top: 20px;

}

.child-story {
    width: 40%;
    padding-right: 1%;
    text-align: right;

}

#child-img {
    height: 490px
}

.shadow-section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 75%;
    margin-left: 165px;
    padding-top: 50px;
}

.shadow-container {
    width: 93%;
    box-shadow: 5px 5px 5px 3px gray;
    margin-top: 4%;
    text-align: justify;
    border-radius: 5px;
    border: 2px;
    padding: 30px 10px 50px 10px;

}

.shadow-heading {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

#subcribe {
    padding: 12px 50px;
    position: absolute;
    text-decoration: none;
    background-color: rgb(225, 63, 63);
    font-size: 20px;
    color: white;
}

#email {
    border: none;
    padding: 15px 50px;
    background-color: rgb(215, 214, 214);

}

.subcribe-section {
    text-align: center;
    margin-top: 160px;
}

.subcribe-container {
    margin-top: 50px;
    background-color: antiquewhite;
    padding: 60px 35px 60px 35px;
    width: 50%;
    margin-left: 23%;
    margin-right: 20%;
    border-radius: 5px;
}

#email-subcribe {
    padding-right: 200px;
}

.footer {
    background-color: rgb(138, 60, 246);
    height: 300px;
    display: flex;
    margin-top: 80px;
}

#footer-heading {
    color: white;
    padding-top: 50px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    width: 40%;
    padding-left: 25px;
}

ul {
    list-style: none;
    padding-top: 100px;
    width: 28%;
}