.banner {
    background-image: url(images/donation4.jpg);
    background-size: cover;
    height: 800px;
    text-align: center;
}

.banner-font {
    padding-top: 170px;
}

h1 {
    font-size: 70px;
    color: white;
}

h2 {
    font-size: 47px;
}

h3 {
    margin-left: 35px;
    font-size: 38px;
    background-color: whitesmoke;
    padding: 45px 28px 45px 28px;
    border-radius: 5px;
}

h4 {
    font-size: 30px;
}

#amount-container {
    margin-left: 265px;
}

p {
    font-family: 'Comfortaa', cursive;
    color: white;
}

.paragraph {
    color: rgb(168, 151, 128);
}

a {
    text-decoration: none;
    background-color: rgb(225, 63, 63);
    padding: 20px 40px;
    font-size: 20px;
    color: white;
    border-radius: 7px;
}

.button {
    padding-top: 60px;
}

.alin-container {
    text-align: center;
    margin-top: 140px;
}

.flaxing {
    display: flex;
}

#selact-many {
    color: rgb(226, 63, 63);
    background-color: rgb(250, 207, 214);
    padding: 45px 28px 45px 28px;
    border: 3px solid rgb(215, 54, 54);
    border-radius: 5px;
}

small {
    font-size: 20px;
}

#medicine-img {
    height: 60px;
    width: 60px;
}

.donate-plan {
    display: flex;
    width: 80%;
    margin-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.food {
    width: 100%;
    background-color: rgb(102, 244, 244);
    text-align: left;
    padding: 50px 30px 10px 30px;
    border-radius: 10px;
}

.medicine {
    width: 100%;
    background-color: rgb(249, 203, 211);
    text-align: left;
    padding: 50px 30px 10px 30px;
    margin-left: 2%;
    border-radius: 10px;
}

.shelter {
    width: 100%;
    background-color: rgb(251, 234, 214);
    text-align: left;
    padding: 50px 30px 10px 30px;
    margin-left: 2%;
    border-radius: 10px;
}